<div>
	<h1><%= link_to "Crear Tratamiento", [:new, @patient, @treatment], class:"btn be-red white" %></h1>
</div>
<% @treatment.each do |treats| %>
	<h1><%= link_to treats.nombreTratamiento, treats %> - <%= link_to "Eliminar", treats, method: :delete %></h1>
	<div>
		<%= treats.descripcionTratamiento %>
	</div>
	<div>
		<%= treats.fechaInicio %>
	</div>
	<div>
		<%= treats.fechaFin %>
	</div>
<%end%>