<div>
	<%= link_to "Editar", [:edit, @patient, @treatment], class:"btn be-red white"%>
</div>
<h1><%= @treatment.nombreTratamiento %></h1>
	<div>
		<%= @treatment.descripcionTratamiento %>
	</div>
	<div>
		<%= @treatment.fechaInicio %>
	</div>
	<div>
		<%= @treatment.fechaFin %>
	</div>
	<div>
		<h3>Medicinas</h3>
		<%= render "medicines/form" %>
	</div>
	