<!--<% @medicine.each do |meds| %>
	<h1><%= link_to meds.nombreMedicamento, meds %> - <%= link_to "Eliminar", meds, method: :delete %></h1>
	<div>
		<%= meds.dosisMedicamento %>
	</div>
	<div>
		<%= meds.fechaInicioMedicamento %>
	</div>
	<div>
		<%= meds.intervaloMedicamento %>
	</div>
<%end%>-->