<h1><%= @medicine.nombreMedicamento %></h1>
	<div>
		<%= @medicine.dosisMedicamento %>
	</div>
	<div>
		<%= @medicine.fechaInicioMedicamento %>
	</div>
	<div>
		<%= @medicine.intervaloMedicamento %>
	</div>
	<div>
		<%= link_to "Editar", edit_medicine_path(@medicine) %>
	</div>